@font-face {
    font-family: 'EF_MACHO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_MACHO.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'EF_MACHO';
}

h1 {
	background-color: blueviolet;
}

div {
    background-color: lightblue;
}

button {
    /* background-color: white;
    border: 0px solid white; */
    background-color: blanchedalmond;
    border: 10px solid lightblue;
    padding: 10px 40px;
    margin-top: 50px;
    box-shadow: -4px -4px 0 -2px #fa780a, 4px 4px 0 -2px #fa780a;
    font-size: 100px;
    font-family: 'EF_MACHO';
}

button:hover {
    box-shadow: -4px -4px 0 2px #fa780a, 4px 4px 0 2px #fa780a;
    transition: all 0.5s;
}

button:active {
    box-shadow: -4px -4px 0 0px #ff6108, 4px 4px 0 0px #ff6108;
}